.Login form {
    max-width: 70%;
    margin: 0 auto;
    padding: 10% 0;
}

.Login .title {
    color: white;
    margin-bottom: 1em;
}

/* --- Form inputs */

/* Style the input container */
.Login .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.Login .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.Login .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.Login .input-field:focus {
    border: 2px solid dodgerblue;
}

/* --- Form buttons */

/* Set a style for the submit button */
.Login .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    /* font-size: larger; */
}

.Login .btn:hover {
    opacity: 1;
}

.Login .i-username {
    background-image: url("../../assets/username_jedi.png");
    background-size: cover;
}

.Login .i-password {
    background-image: url("../../assets/password_key.svg");
    background-size: 100% 100%;
}

/* --- Form links */

.Login .links {
    color: white;
    text-decoration: underline;
}

.Login .link-container {
    opacity: 0.7;
    padding: 3px;
    border-radius: 5px;
}

.Login div .links {
    color: white !important;
    text-decoration: none;
}

.Login .btns-login {
    margin: 2em auto;
}

.Login .btns-login > * {
    width: 45%;
}
