.Register form {
    max-width: 70%;
    margin: 0 auto;
    padding: 10% 0 0;
}

.Register .title {
    color: white;
    margin-bottom: 1em;
}

/* --- Form inputs */

/* Style the input container */
.Register .input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

/* Style the form icons */
.Register .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

/* Style the input fields */
.Register .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Register .input-field:focus {
    border: 2px solid dodgerblue;
}

/* --- Form buttons */

/* Set a style for the submit button */
.Register .btn {
    background-color: dodgerblue;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.Register .btn:hover {
    opacity: 1;
}

.Register .i-username {
    background-image: url("../../assets/username_jedi.png");
    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Register .i-password {
    background-image: url("../../assets/password_key.svg");
    background-size: 70% 70%;
    background-position: center center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* --- Form links */

.Register .links {
    color: var(--white);
    text-decoration: underline;
}

.Register .link-container {
    opacity: 0.75;
    padding: 4px 8px;
    border-radius: 5px;
}

.Register div .links {
    color: white;
    text-decoration: none;
}

.Register .btns-register {
    margin: 2em auto;
}

.Register .btns-register > *, .btns-register > button, .btns-register > a {
    width: 45%;
}
