.button-change-light {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.SideNav {
    min-height: 100%;
    max-height: 100%;
    width: var(--sidenav-width);
    position: absolute;
    top: 0;
    left: 0;
}

.SideNav .category-link-container {
    padding: 10px;
}

.SideNav .navbar-img {
    width: var(--sidenav-width);
    height: calc(var(--sidenav-width) * 0.6);
    background-image: url("../../assets/starwars_title.svg");
    background-size: calc(var(--sidenav-width) * 0.9) auto;
    background-position: center;
    background-repeat: no-repeat;
}

#sidebar {
    background-color: var(--color-bg-items);
}

#sidebar a {
    color: var(--color-font-feature);
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: var(--sidenav-width);
    max-width: var(--sidenav-width);
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    display: none;
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.round {
    position: relative;
  }
  
  .round label {
    background-color: white;
    border: 2px solid  var(--color-font-standard);
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .round label:after {
    border: 3px solid #444;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
  }
  
  .round input[type="checkbox"] {
    visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
    background-color:  var(--color-font-standard);
    border-color:  var(--color-font-standard);
  }
  
  .round input[type="checkbox"]:checked + label:after {
    opacity: 1;
  }

  .SideNav ul li {
      margin-top: 5%;
      font-weight: bold;
  }

  .SideNav ul li:first-of-type {
      margin-top: 0%;
  }

  .SideNav ul li:last-of-type {
      position: absolute;
      bottom: 0px;
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      padding: 10px;
      margin-top: 28%;
      color: var(--color-font-standard);
  }

  .SideNav button {
      outline: 0 !important;
  }


@media (max-width: 768px) {
    /* 80px and its content aligned to centre. Pushing it off the screen with the
       negative left margin
    */
    #sidebar.active {
        min-width: var(--sidenav-width);
        max-width: var(--sidenav-width);
        text-align: center;
        margin-left: - var(--sidenav-width) !important;
    }

    /* Toggling the sidebar header content, 
       hide the big heading [h3] and showing the small heading [strong] and vice versa
    */
    #sidebar .sidebar-header strong {
        display: none;
    }
    #sidebar.active .sidebar-header h3 {
        display: none;
    }
    #sidebar.active .sidebar-header strong {
        display: block;
    }

    /* Downsize the navigation links font size */
    #sidebar.active ul li a {
        padding: 20px 10px;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    /* Adjust the dropdown links padding*/
    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    /* Changing the arrow position to bottom center position, 
      translateX(50%) works with right: 50% 
      to accurately  center the arrow */
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
}

@media (max-width: 992px) {
    .SideNav {
        transform: translate3d(calc(-1 * var(--sidenav-width)), 0, 0);
    }
    ul .list-unstyled.components {
        /*  */
    }
}
