.card {
  background: none !important;
  margin-top: 2%;
  border-color: var(--color-bg-items) !important;
}

.card-header {
  color: var(--color-font-feature);
  background-color: var(--color-bg-items) !important;
}

.card-body {
  color: var(--color-font-standard);
  background-color: var(--color-bg-items);
}
