.Index {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Index * {
    color: white;
    /* background-color: rgba(245, 245, 245, 0.4);  */
}

.Index .title {
    font-size: 5em;
    max-width: 70%;
    margin: 0 auto;
}

.Index .btns-introduction {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    position: relative;
    bottom: 50px;
}

.Index .btns-introduction a button {
    height: 100%;
}
