.LayoutTemplate {
    min-height: 100vh;
    --sidenav-width: 180px;
}

@media (max-width: 768px) {
    .LayoutTemplate {
        --sidenav-width: 84px;
    }
}

.LayoutTemplate .Header .navbar-brand {
    margin: 0 auto;
}

.LayoutTemplate .template-content {
    padding-left: var(--sidenav-width);
    color: var(--color-font-standard);
    background-color: var(--color-bg-main);
    /*overflow: scroll;*/
}

.LayoutTemplate .template-content .inner-template-content {
    min-height: 100%;
    text-align: center;
    padding: 2ch;
}

@media (max-width: 992px) {
    .LayoutTemplate .template-content {
        padding-left: 0;
    }

    .LayoutTemplate .Header .navbar-brand {
        margin: 0;
        width: auto;
    }
}
