* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  --color-font-standard: white;
}

html {
  height: 100%;
}

body,
#root {
  min-height: 100%;
  /* background-color: var(--color-bg-main); */
  color: var(--color-font-standard);
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeLegibility !important;
  text-align: center;
}

body {
  background-image: url('assets/background_manystars.png');
  background-repeat: repeat;
  background-size: auto 100%;
}

.App * {
  color: white;
  background-color: transparent;
}

.App .title {
  font-size: 5em;
  max-width: 70%;
  /*margin: 15% auto;*/
  margin: 3% auto;
}

.App .btns-introduction {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
